.react-tabs-container{
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
    justify-content: flex-start;
    border-bottom: 2px solid red;
    height:29px;
    overflow: hidden;
}

.react-tabs-tab{
    padding: 7px 0;
    opacity: 1;
    font-size: 12px;
    flex-grow: 1;
    max-width: 200px;
    min-width: 40px;
    font-family: "Segoe UI",sans-serif;
}

.react-tabs-child{
    padding: 2px;
    opacity: 1;
    font-size: 12px;
    flex-grow: 0;
    font-family: "Segoe UI",sans-serif;
}

.react-tabs-tab-content{
    display: inline-block;
    width: calc(100% - 28px);
    overflow: hidden;
    height: 25px;
}

.react-tabs-tab-content .titleText {
    max-width: 110px;
    min-width: 110px;
    padding-left: 5px;
    margin-right: 15px;
    font: 400 13.3333px Arial;
}

.react-tabs-tab-content input{
    display:none;
    color: white;
    padding-left: 5px;
    margin-right: 13px;
    background-color: inherit;
    border: 1px solid #45c3e3;
    max-width: 110px;
    width: 110px;
}

.react-tabs-tab-close{
    visibility: hidden;
    line-height: 15px;
    border-top: 0;
    border-right: 2px solid;
    border-left: 2px solid;
    display: inline;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    width: 11px;
    height: 1rem;
    min-width: 11px;
    min-height: 15px;
    color: #ffffff;
}

.react-tabs-tab-close:hover{
}

.react-tabs-tab:hover .react-tabs-tab-close{
    visibility: visible;
}

.react-tabs-active{
    border-left: 4px solid orange;
}

.react-tabs-active .react-tabs-tab-close:hover{
}
